html {box-sizing:border-box;}
*, *::before, *::after {box-sizing:inherit;}


/* Main Styling */
body {
  background-image: linear-gradient(157deg, #bbf0f3 0%, #f6d285 74%);
  background-size: cover;
  background-repeat: no-repeat;
  height: 1000px;
}

#container {
  background: rgb(255, 253, 208);
  border-radius: 15px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
  margin: 100px auto;
  max-width: 800px;
}

/* Header Styling */
#mainHeader {
  background-color: #e09082;
  background-image: linear-gradient(315deg, #e09082 0%, #f8dba4 74%);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 100px;
  text-align: center;
  width: 100%
}

#mainHeader h1 {
  color: rgb(255, 253, 208);
  font-family: 'Dancing Script', 'cursive';
  padding: 1px 0;
  font-size: 80px;
}

/* List Input Styling */
#enterTodo {
  background: rgb(255, 253, 208);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  display: flex;
  height: 75px;
}

#enterTodo input {
  background: transparent;
  border: none;
  color: rgb(218,134,115);
  font-size: 40px;
  height: 75px;
  padding-left: 60px;
  width: 100%;
}

#enterTodo #inputDiv i {
  margin: 0; 
}

#enterTodo input:focus {
  outline: none;
}

#enterTodo #inputDiv{
  width: 80%;
}

#enterTodo #addDiv {
  width: 20%;
}

#enterTodo #clearAll i  {
  cursor: pointer;
  font-size: 40px;
  margin-top: 24px;
  padding-left: 20px;
  opacity: .3;

}

#addTodo {
  background: transparent;
  border: none;
  height: 40px;
  margin-right: 25px;
  margin-top: 20px;
  width: 40px;
}

#addTodo i {
  cursor: pointer;
  font-size: 40px;
  margin-top: 2px;
  margin-left: -8px;
  opacity: .3;
}

#addTodo:focus {
  outline: none;
}

#enterTodo i:active {
  font-size: 39px;
  transition: font-size .1 ease;
}

/* List Elements Styling */


.todoListItem {
  display: flex;
  flex-direction: column;
  font-size: 32px;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 95%;
}

.todoListItem li {
  align-items:center; 
  border-top:.5px solid rgba(208, 207, 169, .5);
  display:flex;
  height:75px;
  margin-left: 35px;
}

.todoListItem li input {
  background: transparent; 
  border:0;
  color: rgb(218,134,115); 
  flex-grow:1;
  font-size:40px;
  outline:0;
  padding-left: 43px;
}

.todoListItem label {
  height: 35px;
  width: 35px;
  border: 1px solid #d8d8d8;
  border-radius: 50%;
  margin: 5px 15px 0 -10px;
  text-align: center;
}

.todoListItem input[type=checkbox] {
  display:none;
}

.todoListItem input[type=checkbox]:checked ~ .replace i {
  color:rgb(10, 184, 203);
  display:inline;
  font-weight: bolder;
}

.todoListItem input[type=checkbox]:checked ~ input {
  color:rgb(218,134,115);
  opacity: 0.3;
  text-decoration: line-through;
}

.todoListItem input[type=checkbox]:checked ~ input:focus {
  color: #4d4d4d;
  text-decoration:none;
}

.replace {
  height:30px;
  width:30px;
  border:1px solid #d8d8d8;
  border-radius:50%;
  margin:0 15px 0 7px;
  text-align:center;
}

.replace i {
  display:none;
  line-height:34px;
}

.todoListItem li button {
  background: transparent;
  color: rgba(175,47,47,.50);
  border: 0;
  outline: 0;
  padding: 10px;
  cursor: pointer;
  font-size: 30px;
  margin-right: -13px;
  margin-top: 11px;
  display: none;
}

.todoListItem li button:focus {
  font-size: 28px;
  transition: font-size .1 ease;
}

.todoListItem li:hover button {
  display:inline;
}

/* Footer Styling */
footer {
  align-items: center;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top: .5px solid rgba(208, 207, 169, .5);
  display: flex;
  font-size:14px;
  font-weight:300;
  justify-content: space-between;
  margin-left: 35px;
  width: 90.5%;
}

form footer div {
  display:flex;
  justify-content: center;
  align-items:center;
}

form footer p {
  margin-left:20px;
  color: rgba(175,47,47,.50); 
}

form footer button {
  background:transparent;
  border:0;
  color:lightgray;
  cursor:pointer;
  font-weight: inherit;
  height:26px;
}

form footer button {
  margin-right:20px;
  opacity: .8;
}

form footer button.active {
  border-left:1px solid rgba(175,47,47,.50);
  border-right:1px solid rgba(175,47,47,.50);
  color: rgba(175,47,47,.50);
  opacity: 1;
  
}


form footer #clearCompleted {
  color: rgba(175,47,47,.50);
  opacity: 1;
}

button {
  outline:0;
}

/* List Options Styling */
 ::placeholder {
  color: gray;
  opacity: .3
}

